{% extends 'movie_app/base.html' %}

{% block title %} Все Фильмы {% endblock title %}

{% block content %}
  <h2><a href="{% url 'directors_list' %}">Список всех режиссеров</a></h2>
  <h2><a href="{% url 'actors_list' %}">Список всех актеров</a></h2>
  <h2>Список всех фильмов</h2>
  <ul>
    {% for movie in movies %}
      <li><a href="{{ movie.get_url }}">{{ movie.name }}</a>,
        рейтинг - {{ movie.rating }},
        год - {{ movie.year|default:'Неизвестен'}},
        бджет = {{ movie.budget|default:'Неизвестен'}} </li>
    {% endfor %}
  </ul>

  <h3>Средний бюджет - {{ agg.budget__avg }} $</h3>
  <h3>Минимальный рейтинг - {{ agg.rating__min }}</h3>
  <h3>Максимальный рейтинг - {{ agg.rating__max }}</h3>
  <h3>Всего фильмов - {{ agg.id__count }}</h3>
  <h3>Всего фильмов 2 способ - {{ total }}</h3>

  <ul>
    {% for movie in f_mov %}
      <li><a href="{{ movie.get_url }}">{{ movie.name }}</a>,
        рейтинг - {{ movie.rating }},
        год - {{ movie.year|default:'Неизвестен'}},
        бджет = {{ movie.budget|default:'Неизвестен'}} </li>
    {% endfor %}
  </ul>
{% endblock content %}